body{
	background:url(images/bc.jpg) repeat top left;
  font-size:16px;
}

*{
	margin:0;
	padding:0;
}

#title{
	margin:120px auto 0;
	width:450px;
	height:30px;
	text-align:center;
}

#login{
	margin:40px auto;
	padding:20px;
	background-color:white;
	width:450px;
	height:230px;
	border-radius:10px;
	-moz-box-shadow:rgba(200,200,200,0.7) 0 4px 10px -1px;
	-webkit-box-shadow:rgba(200,200,200,0.7) 0 4px 10px -1px;
	box-shadow:rgba(200,200,200,0.7) 0 4px 10px -1px;
}


#top{
	text-align:center;
	margin:0 auto 10px;
	line-height:14px;
	font-size:22px;
}

#user{
	width:240px;
	margin:0 auto;
}

#user a{
	font-size:13px;
	color:#4B97E3;
}
#user a:visted{
	color:#4B97E3;
}

#lg-un{
	margin-bottom:5px;
}

#lg-pw{
	margin-bottom:5px;
}
	
.text{
	margin-right:10px;
	*position:relative;
	*bottom:15px;
}

.input{
	border:1px solid #ccc;
	border-radius:5px;
	font-size:15px;
	margin:10px 0;
	width:180px;
	height:25px;
	display:inline;
	-webkit-transition: width .5s linear;
	-moz-transition: width .5s linear;
	transition: width .5s linear;
}

.input:focus  {
	outline:2px solid #6FA1D9;
}

#but{
	width:250px;
	margin:10px auto;
}

.button{
	background:url(images/bd-split.gif);
	color:white;
	width:90px;
	height:30px;
	border-radius:8px;
	cursor:pointer;
}

.button:hover{
	background-position:-240px 0;
}

#result{
	font-size:13px;
	color:red;
}

#topwc{
	width:1000px;
	height:50px;
	background:#4B97E3;
  margin:10px auto;
  border-radius:5px;
}

.topwcleft{
  float:left;
  margin-left:20px;
  line-height:50px;
}

.topwcrt{
  float:right;
  margin-right:20px;
  line-height:50px;
}

#outfrm{
  width:1000px;
  margin:0 auto;
}

.block{
  width:100%;
  height:280px;
  background: white;
  margin: 35px 0 10px 0;             
}

.blockleft{
  width: 49%;
  height: 100%;
  background: #F8F8F8;
  float: left;  
}

.blockright{
  width: 49%;
  height: 100%;
  background: #F8F8F8;
  float: right;  
}

.title-area{
  height: 30px;
  font-size: 18px;
  color: white;
  padding-left: 10px;
  background: #4B97E3;  
  line-height:30px;
}

.picarea{
  height:245px;
}

#footer{
  height: 88px;
  width: 100%;
  padding: 0;
  background: #ccc;
  text-align: center;
  margin-top:40px;
 }

#footer p{
  font-size:12px;
  line-height:22px;
}
#footer_lg{
  height: 88px;
  width: 100%;
  padding: 0;
  background: #ccc;
  text-align: center;
  position:absolute;
  bottom:0;
}

#footer_lg p{
  font-size:12px;
  line-height:22px;
}

#footer a,#footer_lg a{
  color:#4B97E3;
}
