body{
	background:url(images/bc.jpg) repeat fixed  left;
  font-size:16px;
}

*{
	margin:0;
	padding:0;
}
html, body {
  margin:0;    
  height:100%;
}
#container{
  min-height:100%;
  position:relative; 
  _height:100%;
  *height:100%;
}
#title{
	width:100%;
	height:160px;
  line-height:160px;
	text-align:center;
}

#login{
	margin:0 auto;
	padding:20px;
	background-color:white;
	width:450px;
	height:230px;
	border-radius:10px;
	-moz-box-shadow:rgba(200,200,200,0.7) 0 4px 10px -1px;
	-webkit-box-shadow:rgba(200,200,200,0.7) 0 4px 10px -1px;
	box-shadow:rgba(200,200,200,0.7) 0 4px 10px -1px;
}


#top{
	text-align:center;
	margin:0 auto 10px;
	line-height:14px;
	font-size:22px;
}

#user{
	width:240px;
	margin:0 auto;
}

#user a{
	font-size:13px;
	color:#4B97E3;
}
#user a:visted{
	color:#4B97E3;
}

#lg-un{
	margin-bottom:5px;
}

#lg-pw{
	margin-bottom:5px;
}
	
.text{
	margin-right:10px;
	*position:relative;
	*bottom:15px;
}

.input{
	border:1px solid #ccc;
	border-radius:5px;
	font-size:15px;
	margin:10px 0;
	width:180px;
	height:25px;
	display:inline;
	-webkit-transition: width .5s linear;
	-moz-transition: width .5s linear;
	transition: width .5s linear;
}

.input:focus  {
	outline:2px solid #6FA1D9;
}

#but{
	width:250px;
	margin:10px auto;
}

.button{
	background:url(images/bd-split.gif);
	color:white;
	width:90px;
	height:30px;
	border-radius:8px;
	cursor:pointer;
}

.button:hover{
	background-position:-240px 0;
}

#result{
	font-size:13px;
	color:red;
}

#topwc{
	width:1000px;
	height:50px;
	background:#4B97E3;
  margin:20px auto;
}

.topwcleft{
  float:left;
  margin-left:20px;
  line-height:50px;
}

.topwcrt{
  float:right;
  margin-right:20px;
  line-height:50px;
}

#outfrm{
  width:1000px;
  margin:0 auto;
}

.block{
  width:100%;
  height:280px;
  background: white;
  margin: 35px 0 10px 0;             
}

.blocktips{
  width:998px;
  margin: 0 auto;
  margin-top:30px;
  color:black;
  font-size:22px;
  border: 1px solid #DADADA;
  background:#F8F8F8;
}
.blocktips_1{
  width:998px;
  margin: 0 auto;
  margin-top:30px;
  color:black;
  border: 1px solid #DADADA;
  background:#F8F8F8;
  padding:10px 0 10px 0;
}
.blocktips_1 p{
  padding:0px 20px 0 20px;
  line-height:25px;
}
.blocktips_1 li{
  padding:0px 20px 0 20px;
  line-height:25px;
  list-style: none;
}
.blocktips p{
  padding:0px 20px 0 20px;
  line-height:32px;
}
#index_frm{
  width:998px;
  height:500px;
  margin:0 auto;
  border:1px solid #DADADA;
  margin-top:30px;
  background:#F8F8F8;
}
.txindent{
  text-indent: 2em;
}
.blockleft{
  width: 49%;
  height: 100%;
  background: #F8F8F8;
  float: left;  
}

.blockright{
  width: 49%;
  height: 100%;
  background: #F8F8F8;
  float: right;  
}

.title-area{
  height: 30px;
  font-size: 18px;
  color: white;
  padding-left: 10px;
  background: #4B97E3;  
  line-height:30px;
}

.picarea{
  height:245px;
}
.picarea img{
  float:right;
  margin:12px 18px 0 0 ;
}
.picarea a{
  float:left;
  margin-top:5px;
  width:160px;
  color:#4B97E3;
}
.pic_left{
  width:100px;
  height:160px;
  float:left;
  margin:50px 0 0 50px;
}
#footer{
  width: 100%;
  background: #ccc;
  text-align: center;
  position:absolute; 
  bottom:0;
 }
#footer_con{
  width: 100%;
  background: #ccc;
  text-align: center;
  margin-top:45px;
}
#footer p,#footer_con p{
  font-size:12px;
  line-height:22px;
}
#footer a,#footer_con a{
  color:#4B97E3;
}
#hd_tccccc{
  width:100%;
  padding-bottom:122px;
}
.index_bk{
  width:300px;
  height:200px;
  margin: 32px 0 0 24px;
  float: left;
  border-radius: 4px;
  background-color:#4B97E3;
  text-align:center;
}
.index_bk_logo{
  width:298px;
  height:198px;
  margin: 32px 0 0 24px;
  float: left;
  border-radius: 4px;
  border:1px solid #ccc;
  background:white;
  text-align:center;
}
.index_bk_logo img{
  margin-top:20px;
}
.index_bk h1{
  font-size:44px;
  line-height:126px;
}
.index_bk h2{
  font-size:28px;
}
.index_bk a{
  color:#0000EE;
}
#qi{
	position:relative;
	width:120px;
	margin:0 auto;
}
#qi:hover > div{
	display:block;
}

#hide{
	display:none;
	position:absolute;
	top:-55px;
	left:-55px;
	background:url(images/bc.jpg) repeat fixed  left;
	border:2px solid #D58B17;
	line-height:18px;
	width:200px;
	height:62px;
	text-align:left;
	padding:5px;
	font-size:13px;
	font-family:Tahoma;
}

#hide a{
	text-decoration: none;
	color:#555;
}

#hide a:hover{
	text-decoration:underline;
}

#hide div{
	float:left;
	margin-left:7px;
}

#hide img{
	float:left;
	width:60pxs;
	height:60px;
}